@import "../../css/colors.css";

.component-section {
    box-sizing: border-box;
    flex: 1 1 calc(50% - 1.5rem);
    align-self: stretch;
    margin: 0.75rem;
    padding: 1rem;
    border: 1px solid $ui-black-transparent;
    border-radius: 0.5rem;
    background: $ui-white;
}

.component-metadata {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 0.2rem 0.5rem;
    margin: 0.5rem 0;
    text-align: left;
}

.component-metadata dt {
    font-weight: bold;
}

.component-metadata dd {
    margin: 0;
}
